li{
   display: inline; 
   background-color: #10243b;
   margin: 0px;
   
   
   
   
}

ul{
    list-style-type: none;
    margin: 0px;
}

a {
   color: white;
   text-decoration: none;
   padding: 0px 20px;
   text-transform: uppercase;
   font-weight: bold;
   font-family: 'Open Sans', sans-serif;
}

nav{
    background-color: #10243b;
    color: white;
}

body {
    margin: 0px;

}

 body #hero {
    background-image: url("../webdev-ColumbusClone/images/fans.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    color: black
}


