*{
    margin: 0;
    padding: 0;
}


li{
   display: inline; 
   background-color: #10243b;
   margin: 0px;
   
   
   
   
}

ul{
    list-style-type: none;
    margin: 0px;
}

a {
   color: white;
   text-decoration: none;
   padding: 0px 20px;
   text-transform: uppercase;
   font-weight: bold;
   font-family: 'Open Sans', sans-serif;
   
}

nav{
    background-color: #10243b;
    color: white;
}

body {
    margin: 0px;

}

  #hero {
    background-image: url("images/fans.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
   
}

#herotext {
    position: absolute;
    top: 200px;
    left: 200px;
    color: white;
}

#logoPic {
    position: absolute;
    top: -50px;
    left: -165px;
}

#exploreheader {
    height: 80px;
    width: 100vw;
    background-color: #10243b;
    text-align: center;
}

#Explorecchs {
    height: 500px;
    width: 100vw;
    background-color:yellow;
}

#exploresection {
    height: 330px;
    width: 100vw;
    background-color: skyblue;
}

.explorebox {
    height: 320px;
    width: 450px;
    padding: 0px 11px;
}

#hurricane {
    background-image: url(images/patriots\ plaza.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;
}

#Guidance {
    background-image: url(images/college.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
}

#ccnn {
    background-image: url(images/ccnn.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;
}

#media {
    background-image: url(images/ccnn\ live.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
}

#glancebox {
    color: #10243b;
    text-align: center;
    font-size: 30px;
}

#teacher {
    background-image: url(images/grad.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.gb {
    height: 200px;
    width: 195px;
    vertical-align: middle;

}

#gradhat {
    background-image: url(images/carosel\ teaching.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;
}

#book {
    background-image: url(images/book.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;
}

#football {
    background-image: url(images/sports.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;
}

