li{
   display: inline; 
   background-color: #10243b;
   margin: 0px;
   
   
   
   
}

ul{
    list-style-type: none;
    margin: 0px;
}

a {
   color: white;
   text-decoration: none;
   padding: 0px 20px;
   text-transform: uppercase;
   font-weight: bold;
   font-family: 'Open Sans', sans-serif;
}

nav{
    background-color: #10243b;
    color: white;
}

body {
    margin: 0px;

}

  #hero {
    background-image: url("images/fans.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
   
}

#herotext {
    position: absolute;
    top: 200px;
    left: 200px;
    color: white;
}

#logoPic {
    position: absolute;
    top: -12px;
    left: -175px;
}

#exploreheader {
    height: 80px;
    width: 100vw;
    background-color: #10243b;
    text-align: center;
}

#Explorecchs {
    height: 15px;
    width: 100vw;
    background-color: #10243b;
}